@model IEnumerable<TP1examuml.Models.Patient>

@{
    ViewData["Title"] = "Index";
}
<link href="~/lib/Datatables/dataTables.bootstrap5.min.css" rel="stylesheet "/>


<p>
    <a asp-action="Create">Create New</a>
</p>

<table id="exemple" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prenom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Profession)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prenom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Profession)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

 
@section Scripts{
    <script src="~/lib/Datatables/dataTables.bootstrap5.min.js"></script>
    <script src="~/lib/Datatables/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#exemple').DataTable();
        });
    </script>

}
