@using X.PagedList; @*// lister selon le filtrage*@
@using X.PagedList.Mvc.Core; @*// gere le numero de page*@
@using X.PagedList.Web.Common;
@model IPagedList<TP1examuml.Models.Consultation>


@{
    ViewData["Title"] = "Index";
}

<h1>Liste des consultations</h1>

<p>
    <a asp-action="Create">Nouvelle Consultation</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Motif
            </th>
            <th>
                Remarques
            </th>
            <th>
               Patient
            </th>
            <th>
               Medecin
            </th>
            <th>
               TypeConsultation
            </th>
            <th>
                DateConsultation
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Motif)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remarques)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Patient.DisplayName)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Medecin.DisplayName)
            </td>
              <td>
                    @Html.DisplayFor(modelItem => item.TypeConsultation.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateConsultation)
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa-solid fa-pen-to-square"></i></a> |
                <a asp-action="Details" asp-route-id="@item.Id"><i class="fa-solid fa-circle-info"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.Id"><i class="fa-solid fa-trash"></i></a>
                    <a asp-action="VoirExam" asp-route-id="@item.Id"> Mes Analyses</a>
            </td>
        </tr>
  
}
    </tbody>
</table>
<nav>
    @Html.PagedListPager(Model, page => Url.Action("index", new { page = page }), new PagedListRenderOptions()
    {
    ActiveLiElementClass = "active",
    PageClasses = new[]{ "page-link"},
    LiElementClasses=new[] { "page-item" },
    UlElementClasses = new[] { "pagination","justify-content-center", "mt-3" },
    LinkToNextPageFormat = "Next",
    LinkToPreviousPageFormat = "Previous",
    MaximumPageNumbersToDisplay = 5,
    DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
    DisplayLinkToNextPage = PagedListDisplayMode.Always
    })
</nav>
