@model IEnumerable<TP1examuml.Models.Examen>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Resultat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateExamen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateResultat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Consultation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Analyse)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Resultat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateExamen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateResultat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Consultation.Motif)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Analyse.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
